<?xml version="1.0"?>
<config>
	<modules>
		<Levismad_Correios>
			<version>1.0.0</version>
		</Levismad_Correios>
	</modules>
    <global>
        <models>
            <correios>
                <class>Levismad_Correios_Model</class>
            </correios>
        </models>
        <blocks>
            <correios>
                <class>Levismad_Correios_Block</class>
            </correios>
        </blocks>
        <helpers>
            <correios>
                <class>Levismad_Correios_Helper</class>
            </correios>
        </helpers>
    </global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<levismad_correios after="Mage_Adminhtml">Levismad_Correios_Adminhtml</levismad_correios>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	
	<adminhtml>
		<layout>
			<updates>
				<correios>
					<file>correios.xml</file>
				</correios>
			</updates>
		</layout>
	</adminhtml>
	

    <frontend>
        <routers>
            <correios>
                <use>standard</use>
                <args>
                    <frontName>Correios</frontName>
                    <module>Levismad_Correios</module>
                </args>
            </correios>
        </routers>
    </frontend>
</config>